body {
    text-align: center;
}
#header {
    height: 200px;
    margin-bottom: 100px;
    background-color: #EE6E74;
    line-height: 200px;
    font-size: 50pt;
    color: white;
}
#search-title {
    margin-bottom: 25px;
    font-size: 25pt;
}
.title-text {
    margin-bottom: 25px;
    color: #546E7A;
    font-size: 25pt;
    font-weight: bolder;
}
#search-city {
    width: 250px;
    border: 3px solid #546E7A;
    text-align: center;
    font-size: 11pt;
}
.hide {
    display: none;
}
.btn {
    background-color: #546E7A !important;
}
p {
    margin-top: 80px;
    text-align: center !important;
}
span {
    color: #EE6E74;
    font-size: larger;
    /* font-weight: bolder; */
}
#formId {
    margin: auto;
    width: fit-content;
    text-align: left;
}
.spacer {
    height: 20px;
}
#submit-btn {
    margin: 20%;
}
#team-result, #team-card-title {
    font-size: 25pt;
}
#next-match-result {
    font-size: 11pt;
}
#schedule-results-list {
    overflow-y: scroll;
    height: 150px;
    padding: 1rem
}
#match-results {
    font-size: 11pt;
}
