body {
    text-align: center;
}

header {
    margin-bottom: 100px;
    padding: 25px   ;
    background-color: steelblue;
    font-size: 25pt;
    color: white;
}

#title-text {
    font-size: 20pt;
}

input {
    border: 2px solid steelblue;
    padding: 10px;
    text-align: center;
    font-size: 12pt;
}

/* .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited  */
.btn-secondary { 
    margin-top: 10px;
    background-color: steelblue !important;
}

#enter-city {
    margin-bottom: 100px;
}

p {
    font-size: 11pt;
    color: lightgray;
}

.hide {
    display: none;
}